# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# OS
.DS_Store

# ML artifacts
models/versions/*
models/latest/model.joblib
models/latest/metadata.json
reports/*.json
reports/*.html

# MLflow
mlruns/

# DVC
dvc.lock

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# Mypy
.mypy_cache/

# Env overrides
.env
